<!Doctype html>
<html>
	<HEAD>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
	</HEAD>
	<BODY>
		<div id="app">
			Normal Vue
			<ul>
				<li v-for="todo in todos">{{todo.text}}</li>
			</ul>
			<br/>
			Component Vue
			<ul>
				<todo-item v-for="todo in todos" v-bind:abc="todo" v-bind:key="todo.id" v-on:complete="markAsComplete"></todo-item>
			</ul>
		</div>
		<Script>
			Vue.component('todo-item',{
				props: ["abc"],
				template: `<li>{{abc.text}} - 
					<span v-if="abc.completed">Completed</span>
					<span v-else @click="complete(abc)">Mark as complete</span>
					</li>`,
				methods:{
					complete: function(todo) {
						this.$emit("complete", todo)
					}
				}
			})
			var vm = new Vue({
				el: '#app',
				data: {
					todos: [
					{id:1,text:"Buy Insurance", completed: false},
					{id:2,text:"Pay Bills", completed: false},
					{id:3,text:"Walk the Dog", completed: true}]
				},
				methods: {
					markAsComplete: function(todo){
						todo.completed =true;
					}
				}
			})

		</Script>
	</BODY>


</html>